*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

#etchASketchFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
    
    
}

button {
    padding: 5px;
    border-radius: 10px;
    
}
button#resetButton {
    margin-right: 100px;
}

#sketchAreaContainer {
    margin-top: 20px;
    display: flex;
    background-color: antiquewhite;
    border: solid 2px black;
}
#sketchArea {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

#cell {
    border: solid 1px aliceblue;
}



.filled {
    background-color: black;
    border: solid 1px aliceblue;

}