*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

#etchASketchFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
    
    
}

#sketchAreaContainer {
    display: flex;
    background-color: antiquewhite;
    border: solid 1px black;
}
#sketchArea {
    display: flex;
    flex-wrap: wrap;
}

#cell {
    border: solid 1px aliceblue;
}



.filled {
    background-color: black;
    border: solid 1px aliceblue;

}